# ========================
# Git
# ========================
.git
.gitignore

# ========================
# Python cache
# ========================
__pycache__/
*.pyc
*.pyo

# ========================
# Virtual environments
# ========================
venv/
.env/
.venv/
env/

# Conda
conda-meta/

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Logs
# ========================
*.log

# ========================
# Tests
# ========================
tests/

# ========================
# Docs / misc
# ========================
README.md
*.md

# ========================
# OS
# ========================
.DS_Store
Thumbs.db